#board.kanrello{
    overflow-y:scroll;
}
#board.kanrello .list-swim-lane{
    position:relative;
    z-index: 100;
    width:100%;
    overflow-y: scoll;
    overflow-x: hidden;
    transition:all ease-in-out 0.2s;
    opacity: 0;

}
#board.kanrello .list-swim-lane.show{
    opacity:1;
}
#board.kanrello .list-lane-bg{
    position: absolute;
    z-index: -100;
    width: 100%;
    padding:0;
}
#board.kanrello .list-wrapper{
    margin:0 !important;
    border: 1px solid grey;
    border-left:none;
    display: table-cell;
}
#board.kanrello .list-card{
    margin:5px;
}
#board.kanrello .list-card:hover .list-card-operation{
    visibility: visible;
}
#board.kanrello .list-card:hover {
    background:#e6e6e6;
}
#board.kanrello .active-card{
    background:#ccc;
}
#board.kanrello .list.js-list-content{
    max-height: none;
}
#board.kanrello .list-cards{
    padding:0 !important;
    margin:0 !important;
}
#board.kanrello .list-cards > .list-card{
    display:none;
}
#board.kanrello .list-swim-lane:hover{
    -webkit-box-shadow: inset -3px -5px 69px 0px rgba(74,66,74,0.63);
    -moz-box-shadow: inset -3px -5px 69px 0px rgba(74,66,74,0.63);
    box-shadow: inset -3px -5px 69px 0px rgba(74,66,74,0.63);
}
#board.kanrello textarea.mod-list-name{
    height:24px !important;
    width:235px  !important;
    text-overflow: ellipsis !important;
}
.boards-drawer.is-shown{
    z-index: 2000 !important;
}
#board.kanrello .card-label.mod-card-front{
    float: left;
    height: 17px;
    margin: 0 3px 3px 0;
    padding: 0 3px;
    min-width: 55px;
    color: white;
    font-size: 10px;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    box-shadow: none;
    text-shadow: none;
    font-weight: bold;
    position: relative;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 16px;  
}
#kanrello_toggle .header-btn-icon{
    border-radius:5px;
}
body.kanrello-plugin #kanrello_toggle .header-btn-icon{
    background:#61bd4f;
}